---
const PROJECTS = [
  {
    title: "SVGL - A beautiful library with SVG logos",
    description:
      "Created from scratch with Next.js and Tailwind CSS. It's a library with SVG logos from the most popular brands. Optimized for SEO and performance.",
    link: "https://svgl.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "./projects/svgl.webp",
    tags: ["Next.js", "Tailwind CSS", "React"],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold text-[rgba(255,0,187,0.6)] mb-3 ">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-[rgba(255,0,187,0.2)]"
        src={image}
        alt={image}
      />
    </article>
  ))
}
